* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* HEADER */
header {
  padding: 40px;
  background: #c2ebf8;
}

header h1 {
  background: #bd1da5;
  display: inline;
  text-align: left;
  color: #13293d;
}
/* 
  What happens when we set the display property to flex?
  The flex container becomes flexible 
  */
header nav {
  float: right;
  /* display: flex;
  flex-wrap: wrap; */
}

header nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: right;
}

/* BODY */
/* It specifies whether the flex items should wrap or not  */

/* main {
  display: flex;
  flex-wrap: wrap;
} */

.card {
  padding: 10px;
  flex: 0 0 400px;
}

.card aside h2 {
  border-right: 5px solid red;
  display: inline;
  color: #e06016;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
  It defines in which direction the container wants to stack the flex items
  We are telling the main body and navbar to stack vertically in a column
  */
@media screen and (max-width: 768px) {
  main,
 nav{
    flex-direction: column;
  }
}
