* {
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* HEADER */
header {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #31343c;
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
}

nav a {
  display: inline-block;
}

/* CSS Property of Left side of Navigation bar */
.nav-left {
  background: #9ecacd;
  float: left;
  text-align: left;
  color: #13293d;
  font-size: 50px;
  padding-left: 50px;
}

/* CSS Property of Right side of Navigation bar */
.nav-right {
  float: right;
}

.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-right ul li {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}

.nav-right ul li a {
  color: #9ecacd;
}

.nav-right a:hover {
  color: #e06016;
}

.card {
  padding: 10px;
  flex: 0 0 400px;
}

.card aside h2 {
  border-right: 5px solid red;
  display: inline;
  color: #e06016;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
  It defines in which direction the container wants to stack the flex items
  We are telling the main body and navbar to stack vertically in a column
  */
@media screen and (max-width: 768px) {
  main,
 nav{
    flex-direction: column;
  }
}
