* {
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* HEADER */
header {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #31343c;
  display: inline-block;
  flex-wrap: wrap;
  width: 100%;
}

nav a {
  display: inline-block;
}

/* CSS Property of Left side of Navigation bar */
.nav-left {
  background: #9ecacd;
  float: left;
  text-align: left;
  color: #13293d;
  font-size: 50px;
  padding-left: 50px;
}

/* CSS Property of Right side of Navigation bar */
.nav-right {
  float: right;
}

.nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-right ul li {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}

.nav-right ul li a {
  color: #9ecacd;
}

.nav-right a:hover {
  color: #e06016;
}

/* To display figure after the header */
body figure {
  margin: 0px;
  position: relative;
}

/* Properties of Image in the figure tag */
body figure img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  opacity: 60%;
}

/* Bottom right text on the image in the figure tag */
.bottom-right {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  bottom: 30px;
  right: 50px;
  background-color: #9ecacd;
  padding: 10px;
  text-align: left;
  color: #13293d;
}

/* Section fo displaying Main part of the webpage */
.card {
  padding: 10px;
  display: flex;
}

.sideColumnRightBorder {
  font-size: 70px;
  flex: 0 1 300px;
  text-align: right;
  color: #485874;
  padding-right: 15px;
  border-right: 4px solid #485874;
}

.sideColumnNoBorder {
  font-size: 70px;
  flex: 0 1 300px;
  text-align: right;
  color: #485874;
  padding-right: 15px;
}

.mainColumnNoBorder {
  flex: 1;
  padding: 10px;
  font-size: 25px;
  color: #13293d;
}
.mainColumnNoBorder a:hover {
  color: #e06016;
}
.mainColumnLeftBorder {
  flex: 1;
  padding: 10px;
  border-left: 4px solid #485874;
}

.mainColumnLeftBorder img {
  border: 5px solid #9ecacd;
}

/* For images of the deployed projects */
.projects {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
  margin: 7px;
}

/* Overriding width property for first project image */
#firstImage {
  width: 1210px !important;
}

.container img {
  width: 600px;
  height: 600px;
}

/* Bottom left text on all the project related images */
.bottom-left {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  bottom: 20px;
  left: 0px;
  background-color: #9ecacd;
  padding: 10px;
  text-align: left;
}

/* 
For description of technologies used in the projects */
.description {
  font-size: 15px;
  font-weight: normal;
}

.mainColumnNoBorder ul {
  list-style: none;
  font-size: 30px;
}

.mainColumnNoBorder ul li {
  padding: 20px 100px;
  display: inline-block;
}

.mainColumnNoBorder ul li a {
  color: #485874;
}

/* Adjust screen to different resolutions */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
